@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
}

/* h1 {
padding: 30px;
text-align: left;
}

nav {
  display:
  text-align: right;
  padding: 30px;
} */

header{
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  float: right;
  padding: 8px;
}

#name{
  font-weight: bold;
}

#nav:visited{
  color: gray;
}

h2 {
  font-size: 5vw;
  text-align: left;
  padding-left: 250px;
}

main {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 800px;
}

p {

}

a {
color: black;
}

a:link {
  text-decoration: none;
}

.paragraph{
  text-align: left;
  padding-left: 250px;
  font-size: 1.2vw;
}

.splash{
  text-align: right;
}


footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
